:root {
    --main-font-family: "Fira Code", monospace;
    --second-font-family: 'Roboto', sans-serif;

}

.header {
    height: 90px;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 10;
    padding: 0px 0px;
}

.header__title {
    margin-left: 250px;
    font-weight: 800;
    font-size: 30px;
    font-family: var(--main-font-family);
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.header__title:hover {
    cursor: pointer;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0 0px; /* Adjusted padding */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.desktopNav {
    list-style: none;
    display: flex;
    margin-left: auto; /* Push to the right */
    align-items: center; /* Vertically align items */
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -1px;
}

.desktopNav a,
.desktopNav button {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-family: var(--main-font-family);
    margin-left: 20px;
    transition: color 0.3s ease-out;
    display: flex;
    align-items: center; /* Vertically align items */
    height: 100%;
}

.desktopNav button {
    padding: 10px 15px; /* Adjusted padding */
    color: white;
    background-color: rgb(13, 15, 17);
    margin-right: 250px; /* Adjusted margin-right */
    font-weight: 500;
    border-radius: 2px;
    border: 1px solid;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.desktopNav a:hover, .header__title:hover {
    color: rgb(49, 130, 206);
}

.desktopNav button:hover {
    background-color: #fff;
    color: rgb( 13, 15, 17);
}

/* Media Query for smaller screens */
@media only screen and (max-width: 600px) {
    .header__title {
        font-size: 18px;
        margin-left: 20px; /* Keep a margin for smaller screens */
    }

    .navbar {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
    }

    .desktopNav {
        margin-left: 0;
        margin-top: 10px;
    }

    .desktopNav a,
    .desktopNav button {
        margin: 0;
        margin-bottom: 10px;
        margin-right: 0; /* Reset margin-right for smaller screens */
    }
}


h1 {
    font-weight: 700;
    font-size: 50px;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(13, 15, 17);
    margin: 0.67em 0px;
    font-family: var(--main-font-family);
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 40px;

}

div {
    display: block;
}

body {
    background-color: white;
    font-family: var(--main-font-family);
    margin: 0px;
}



h1 .codetext {
    color: rgb(49, 130, 206);
    margin-left: -50px; 
    letter-spacing: 2px;
}

h1 span {
    color: rgb(49, 130, 206);
}

/* Add this style to reduce space between top and work sections */
#top {
    margin-top: -100px;
    padding-bottom: 100px; /* Adjust the value as needed */
}

#work {
    margin-top: -150px; /* Adjust the value as needed */
}

/* Media Query for smaller screens */
@media only screen and (max-width: 600px) {
    #top {
        padding-bottom: 20px; /* Adjust the value for smaller screens */
    }

    #work {
        margin-top: -20px; /* Adjust the value for smaller screens */
    }
}


/* Add this to your existing styles */
.scroll-indicator {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 2s infinite;
}

.arrow {
    width: 20px;
    height: 20px;
    border: solid rgb(49, 130, 206);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
}

/* Animation keyframes */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}
